.venv*/
.env
.env.*
!.env.example
node_modules/
__pycache__/
*.py[cod]
*.log
*.tsbuildinfo
.idea/
.vscode/
.cache/
.pytest_cache/
dist/
unpackage/
project.private.config.json
*.pem
*.key
*.zip
*.7z
*.tgz
/work_dirs/
/weights/
/static/digital_guide/
/static/digital_human/
/static/product_files/
/static/tour_files/
/static/user/
/static/user_avatars/
